*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    padding-top: 80px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    border: 1px solid #000;
    margin-top: 120px;
}

ul {
    list-style: none;
}

a {
    color: #343434 !important;
    text-decoration: none;
}

.pickers {
    width: 100%;
    padding: 10px 0;
}

.pickers_ul {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .pickers_li:not(:last-child)::after {
        content: '．';
        position: absolute;
        top: 50%;
        right: -10px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.pickers_li {
    cursor: pointer;
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 4.5px;
    font-size: 15px;
    line-height: 22px;
    color: #636363;
    position: relative;
}

.pickers_li a{
    color: #636363;
}


.my {
    width: 100%;
    padding: 0 80px;
    margin: auto;
    margin-bottom: 160px;
}


.profile_container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.my_title {
    font-weight: 500;
    font-size: 2.25rem;
    letter-spacing: 3.6px;
    text-align: center;
    color: var(--font-color,#343434);
    padding: 40px 0 60px;
}

.favs_container {
    width: 100%;
    margin: auto;
}

.favs_list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
}

.favs_list:not(:last-child) {
    border-bottom: 0.8px solid #b7b7b7;
}

.favs_list:first-child {
    padding-top: 0;
}

.favs_photo {
    width: 20%;
    align-self: center;
}

.favs_photo img {
    width: 100%;
}

.favs_info {
    width: 59%;
    margin-left: 25px;
}

.favs_description {
    font-size: 0.875rem;
    line-height: 1.875rem;
    letter-spacing: 0.0875rem;
    color: #8f5e13;
}

.listTitle {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: 0.1375rem;
    color: #343434;
    margin-bottom: 15px;
}

.listText {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5625rem;
    letter-spacing: 0.1rem;
    color: var(--font-color,#343434);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.favs_btn {
    margin-left: auto;
    align-self: center;
}

.favs_btn p {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--black,#000);
}

.favs_btn p::before {
    content: "取消書籤";
    display: block;
}

.favs_btn p::after {
    content: "";
    width: 8px;
    height: 1px;
    margin-left: 5px;
    background-color: #424242;
}