td.btn_group {
	display: flex;
    justify-content: center;
    width: 80px;
}

.pagenum {
	text-align: center;
}

.searchbox {
	float: left;
}

.top_content {
	margin-top: 20px;
	margin-right: 20px;
	justify-content: space-between;
}