.right-button ul li a.site-cart {
  display: block;
  position: relative;
}


ul li a.site-cart .count {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -20px;
  margin-top: -20px;
  font-size: 13px;
/*   自己新增 font-family */
  font-family: 'Roboto', sans-serif;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  display: block;
  text-align: center;
  background: #a481c0;
  color: #fff;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}