.content_view {
    display: flex;
}

.content_box {
    width: 1260px;
    margin: 0 auto;
}

.content_box .content_title {
    height: 200px;
    background-color: #c4c4c4;
    margin-bottom: 50px;
}

.content_box .content {
    height: 800px;
    background-color: #c4c4c4;
}